<style>
</style>

<main class="main">
  <div class="content">
    <header class="content-header">

      <h1>CRUD CISS</h1>    
      <!--Barra de Pesquisa-->
      <div class="search-bar">
        <input placeholder="Insira Nome, Sobrenome, E-mail ou NIS..." type="text" [(ngModel)]="searchQuery">
        <button class="table-button blue-button" (click)="search()">Pesquisar</button>
      </div>
    </header>

    <section class="content-body">

      <!--Formulário de Inserção de Funcionário-->
      <button class="table-button green-button add-button" (click)="openAddFuncionario()"><b>+</b> Adicionar Funcionário</button>

      <div name="AddFuncionario" *ngIf="addingFuncionario">
        <form #addForm="ngForm" [ngFormOptions]="{updateOn: 'submit'}" (submit)="addFuncionario(addForm)">
          <input placeholder="Nome" type="text" name="firstName" id="firstName" [(ngModel)]="firstName" required minlength="2" maxlength="30">
          <input placeholder="Sobrenome" type="text" name="lastName" id="lastName" [(ngModel)]="lastName" required minlength="2" maxlength="50">
          <input placeholder="E-mail" type="email" name="email" id="email" [(ngModel)]="email" ngModel [email]="true" required>
          <input placeholder="NIS (PIS)" type="number" name="nis" id="nis" [(ngModel)]="nis" value="2" required>
          <button class="table-button green-button" type="submit">Salvar</button>
        </form>
      </div>
  
      <!--Formulário de Atualização de Funcionário-->
      <div name="EditFuncionario">
        <form #editForm="ngForm" [ngFormOptions]="{updateOn: 'submit'}" name="editform" *ngIf="currentFuncionario" (ngSubmit)="updateFuncionario(currentFuncionario, editForm)">
          <input placeholder="Nome" name='firstName' *ngIf="currentFuncionario" type="text" [(ngModel)]="currentFuncionario.firstName" required minlength="2" maxlength="30">
          <input placeholder="Sobrenome" name='lastName' *ngIf="currentFuncionario" type="text" [(ngModel)]="currentFuncionario.lastName" required minlength="2" maxlength="50">
          <input placeholder="E-mail" name='email' *ngIf="currentFuncionario" type="text" [(ngModel)]="currentFuncionario.email" required ngModel [email]="true" maxlength="200">
          <input placeholder="NIS (PIS)" name='nis' *ngIf="currentFuncionario" type="text" [(ngModel)]="currentFuncionario.nis" required maxlength="200">
          <button class="table-button green-button edit-button" name='editsave' *ngIf="currentFuncionario" type="submit">Salvar</button>
          <button class="table-button red-button" name='editcancel' *ngIf="currentFuncionario" (click)="cancelEdit()">Cancelar</button>
        </form>
      </div>
  
      <!--Tabela de Funcionários-->
      <div name="DataTable">
        <table>
          <thead> 
            <tr>
              <th class="table-name"> Nome</th>
              <th class="table-lastname"> Sobrenome </th>
              <th class="table-email"> E-mail</th>
              <th class="table-nis"> NIS(PIS)</th>
              <th class="table-update"> Atualizar </th>
              <th class="table-delete"> Excluir </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let currentitem of filteredData">
              <td> {{ currentitem.firstName }} </td>
              <td> {{ currentitem.lastName }} </td>
              <td> {{ currentitem.email }} </td>
              <td> {{ currentitem.nis }} </td>
              <td>
                <button class="table-button blue-button" (click)="editFuncionario(currentitem)">Atualizar</button>
              </td>
              <td>
                <button class="table-button red-button" (click)="deleteFuncionario(currentitem._links.self.href)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </section>
  </div>
</main>

<router-outlet />
